@import url('https://fonts.googleapis.com/css?family=Cutive');
@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lato');

html, body{
    height: 100%;
  }

#title{
  height: 10%;
  width: 100%;
  display: table;
  text-align: center;
  position: fixed;
  top: 0;
  }

#title h3 {
  padding-top: 10pt;
  font-family: Lato;
  text-align: center;
  vertical-align: top;
  font-weight: lighter;
  font-size: 1.5vw;
  padding-bottom: 10pt;
  letter-spacing: 0.4em;
  line-height: 2px;
}

#title h1 {
  font-family: Playfair Display;
  position: fixed;
  display: table-cell;
  vertical-align: bottom;
  text-align: center;
  font-weight: bolder;
  font-size: 5vw;
  }

#navbar{
  width: 100%;
  padding-top: 10%;
  padding-bottom: 10%;
  font-family: Work Sans;
  position: fixed;
  display: table-cell;
  background-color: white;
  vertical-align: top;
}


#navbar ul{
  position: fixed;
  font-family: Lato;
  list-style-type: none;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 60px;
  vertical-align: middle;
  border: 1px solid black;
  border-left: none;
  border-right: none;
  padding-right: 10px;
}

#main ul{
  font-family: Lato;
  font-size: 10.5pt;
  padding-top: 0;
  list-style-type: disc;
}

#main ol{
  font-family: Lato;
  font-size: 11pt;
  padding-top: 0;
  list-style-type: disc;
}


#navbar li a {
  text-decoration: none;
  color: inherit;
}

#navbar li a:hover{
  font-weight: bold;
}

p + ul {
    margin-top: -15px;
}

#navbar li {
  display: inline;
  border-right: 1px solid black;
  line-height: 62px;
  padding: 22px 22px;
  vertical-align: middle;
  width: 60px;
}

#favicon{
  max-width: 16pt;
  padding-right: 8pt;
  vertical-align: middle;
}

#favicon:hover{
  opacity=0.9;
}

#navbar li:last-child {
  border-right: none;
}

#main{
  height: 65%;
  width: 70%;
  padding-left: 15%;
  padding-right: 15%;
  vertical-align: bottom;
  display: table;
  padding-top: 20%;
}

#main h3{
  font-family: Playfair Display;
  font-weight: bolder;
}

#main h2{
  font-family: Playfair Display;
  font-weight: bolder;
}


#main p{
  font-family: Lato;
}
